/* Algemene stijlen voor de website */
body{
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    text-align:center;
    list-style-position:inside;
}
/* Navigatie bar */
#menu ul{
    list-style: none;
    margin: 0;
    padding: 5px;
    display: inline-flex
}
#menu li{
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}
nav{
    background-color:green;

}
#navHover:hover{
    background-color:lightgreen;
}
/* Stijl voor de index */
.intro{
    background-color:yellow;
    color:black;
}
/* Blog stijl */
.blogSkeleton{
    margin-left:100px;
    background-color:blue;
    text-align:left;
}
/* Stijl voor de dashboard */
table, th, td{
    border: 1px solid blue;
    color:aquamarine;
}
/* Incomplete meaning the study point has not yet been obtained */
td#incomplete{
    color:red;
}
/* Deze vier stijlen dienen om de pagina vol te maken met het tabel */
#firstTableColumn{
    width:10%;
}
#secondTableColumn{
    width:50%;
}
#thirdTableColumn{
    width:30%;
}
#fourthTableColumn{
    width:10%;
}