:root{
    --main-color: green;
    --secondary-color: lightgreen;
    --text-color: black; 
}

*{
    margin:0px;
    padding:0px;
}
/* Algemene stijlen voor de website */
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:0px;
    padding: 0px;
}
/* Navigatie bar */
nav{
    background-color:black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin: 0px;
    padding: 0px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    border-radius: 5px;
    position:relative
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none; 
    display:flex;
    align-items:center;
    color:white;
}
li::after{
    content: "";
    position:absolute;
    background:beige;
    height:2px;
    width:85%;
    bottom:8px;
    left:8%;
}
nav a:hover{
    background-color:rgb(75, 75, 66);
    
}
/* Stijl voor de index */
.container{
    display:flex;
    gap:10em;
    flex-grow: 2;

}
.card{
    background-color:yellow;
}
/* Blog stijl */
.blogSkeleton{
    margin-left:100px;
    background-color:blue;
    text-align:left;
}
/* Stijl voor de dashboard */
table, th, td{
    border: 1px solid blue;
    color:aquamarine;
}
/* Incomplete meaning the study point has not yet been obtained */
td.incomplete{
    color:red;
}
/* Deze vier stijlen dienen om de pagina vol te maken met het tabel */
.firstTableColumn{
    width:10%;
}
.secondTableColumn{
    width:50%;
}
.thirdTableColumn{
    width:30%;
}
.fourthTableColumn{
    width:10%;
}