body{
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    text-align:center;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 5px;
    display: inline-flex
}
#menu li{
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}
nav{
    background-color:green;

}
.intro{
    background-color:yellow;
    color:black;
}
.blogSkeleton{
    margin-left:100px;
    background-color:blue;
    text-align:left;
}